<div class="table-responsive">
    <table class="table table--slim" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th class="text-center"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div class="table-footer__actions">
                    <p class="table-footer__documents-count-text">{{ 'form.no_data_found' | trans }}</p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>