<div class="content--login__left">
    <img class="logo" src="{{ asset('/images/logo-colorful.png') }}" alt="Sign up image">
    <h1 class="text--white">{{ 'sign_in'|trans }}</h1>
    <a class="text--white" href="https://www.termsfeed.com/public/uploads/2019/04/privacy-policy-template.pdf">{{ 'privacy_policy'|trans }}</a>
</div>